<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:property name="M_PI" value="3.1415926535897931"/>

  <link
    name="camera_link">
    <inertial>
      <origin
        xyz="-0.0101484871022832 -0.0322537173027131 -6.05697791336082E-05"
        rpy="0 0 0" />
      <mass
        value="0.0447520730573382" />
      <inertia
        ixx="2.72774876220078E-05"
        ixy="2.44349759049177E-07"
        ixz="-1.17490881107619E-09"
        iyy="3.94471489008655E-06"
        iyz="-2.80522154462378E-09"
        izz="2.7362051105488E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://sucata/meshes/camera_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.96471 0.96471 0.95294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://sucata/meshes/camera_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="camera_joint"
    type="fixed">
    <origin
      xyz="0.118 0.0325 0.0695"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="camera_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  
    <gazebo reference="camera_link">
        <material>Gazebo/Grey</material>

        <sensor name="cameraV3" type="camera">
            <pose> 0 0 0 0 0 0 </pose>
            <visualize>true</visualize>
            <update_rate>60</update_rate>
            <camera>
                <horizontal_fov>1.089</horizontal_fov>
                <image>
                    <format>R8G8B8</format> <!-- Changed from B8G8R8 -->
                    <width>640</width>
                    <height>480</height>
                </image>
                <clip>
                    <near>0.05</near>
                    <far>8.0</far>
                </clip>
            </camera>
            <topic>/camera/rpi/image_raw</topic>
            <!-- <topic>/world/mundoArUco/model/sucata/link/base_footprint/sensor/camera/depth_image</topic> -->
            <gz_frame_id>camera_link</gz_frame_id>
        </sensor>
    </gazebo>
</robot>
