<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:property name="M_PI" value="3.1415926535897931"/>

  <link name="depth_link">
    <inertial>
      <origin
        xyz="-0.00904848710228398 0.0117462826972869 -6.05697791337609E-05"
        rpy="0 0 0" />
      <mass
        value="0.0447520730573382" />
      <inertia
        ixx="2.72774876220078E-05"
        ixy="2.44349759049177E-07"
        ixz="-1.17490881107618E-09"
        iyy="3.94471489008655E-06"
        iyz="-2.80522154462381E-09"
        izz="2.7362051105488E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://sucata/meshes/depthCamera_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://sucata/meshes/depthCamera_link.STL" />
      </geometry>
    </collision>
  </link>

  <joint
    name="depth_joint"
    type="fixed">
    <origin
      xyz="0.1169 -0.0115 0.0695"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="depth_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  
  <gazebo reference="depth_link">
    <material>Gazebo/Grey</material>
    
    <sensor name="xtion_depth" type="depth">
      <pose>0 0 0 0 0 0</pose>
      <always_on>true</always_on>
      <update_rate>30.0</update_rate>
      <visualize>true</visualize>
      <camera>
        <horizontal_fov>1.01229</horizontal_fov>
        <image>
          <width>640</width>
          <height>480</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.05</near>
          <far>10.0</far>
        </clip>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.007</stddev>
        </noise>
      </camera>
      <topic>/depth</topic>
      <gz_frame_id>depth_link</gz_frame_id>
    </sensor>
  </gazebo>
</robot>
