<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

    <link
    name="imu">
    <inertial>
      <origin
        xyz="1.58927283510988E-05 9.32559180236298E-05 0.000878239070510656"
        rpy="0 0 0" />
      <mass
        value="0.000641531141315228" />
      <inertia
        ixx="3.17041200198106E-08"
        ixy="1.24863172344468E-11"
        ixz="-4.01457310722804E-14"
        iyy="1.18309245142538E-08"
        iyz="-1.71325876343045E-15"
        izz="4.3260264266368E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://sucata/meshes/imu_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.176470588235294 0.290196078431373 0.8 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://sucata/meshes/imu_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="imu_joint"
    type="fixed">
    <origin
      xyz="-0.034597 0 0.09"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="imu" />
    <axis
      xyz="0 0 0" />
  </joint>
  


    <gazebo reference="imu">
        <material>Gazebo/Red</material>

        <sensor name="imu_sensor" type="imu">
            <always_on>1</always_on>
            <update_rate>100</update_rate>
            <visualize>true</visualize>
            <topic>imu</topic>
            <plugin filename="gz-sim-imu-system"
                name="gz::sim::systems::Imu">
                 
            </plugin>
            <gz_frame_id>imu</gz_frame_id>
        </sensor>

        
    </gazebo>

</robot>